@import url("https://fonts.googleapis.com/css?family=Ubuntu|Lora:wght@400;500;600&display=swap");

@font-face {
    font-family: 'dunkinFont';
    src: url('/Lilita_One/LilitaOne-Regular.ttf') format('truetype');
    /* Add more font formats if necessary */
    /* Other font properties (font-weight, font-style) can be specified here */
  }
  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    /* font-family: "Ubuntu", sans-serif; */
    border: none;
    font-family: 'dunkinFont';
}

:root {
    --white: #fff;
    --brown: #3e342f;
    --darkpink: #c63663;
    --orange: #ef6a00;
    --grey: #747474;
}

.dropdown {
    src: url(/assets/asset\ 32.svg) format('svg');
}

.orange {
    color: var(--orange);
}

.brown {
    color: var(--brown);
}

body {
    background-color: rgb(236, 231, 224);
    height: 2000px;
}

.fixed-class {
    position: sticky;
    background-color: var(--white);
    top: 0px;
    width: 100%;
    /* height: 100px; */
    z-index: 1;
    left: 0;
}

div.body {
    background-color: var(--white);
    height: 100%;
    /* width: auto; */
    border-style: none solid;
    border-color: rgb(157, 157, 157);
    border-width: 1px;
    margin: 0px 3%;
}

div.top-nav {
    display: flex;
    padding: 15px 14px;
    justify-content: end;
    align-items: center;
    border-bottom: 1px solid rgb(211, 211, 211);
}

.info {
    background-color: var(--darkpink);
    color: var(--white);
    text-align: center;
    padding: 13px;
}

.buttons {
    display: flex;
    border: 2px solid var(--brown);
    border-radius: 50px;
    padding: 7px 20px;
    margin-right: 14px;
    text-decoration: none;
    /* box-shadow: 2px 2px rgb(92, 68, 68); */
    font-size: 12px;
    text-transform: uppercase;
}

.buttons:hover {
    /* background-color: var(--orange); */
    /* border-color: var(--orange); */
    outline: 1px solid var(--grey);
    outline-offset: 2px;
}

.utility {
    display: inline;
    width: 175px;
    flex-direction: row;
    margin-right: 20px;
}

.overide-career {
    position: relative;
    background-color: transparent;
    width: 100%;
    text-align: left;
    border-width: 1px;
    border-color: var(--grey);
    /* color: var(--grey); */
    padding: 8px 20px;
    font-family: "Ubuntu";
    text-transform: none;
    font-size: 14px;
}

.icon {
    /* display: inline; */
    position: absolute;
    /* align-items: end; */
    left: 85%;
    color: var(--grey);
    /* top: 10%; */
    /* padding: 5px; */
}

.pink {
    background-color: var(--darkpink);
    border-color: var(--darkpink);
    color: var(--white);
}

.white {
    color: var(--brown);
    border-style: solid;
}

/* navabr element */
.navbar {
    width: auto;
    /* align-content: center; */
    /* justify-content: center; */
    text-transform: uppercase;
    /* padding: 15px; */
}

ul {
    display: flex;
    flex-direction: row;
    /* align-content: center; */
    justify-content: center;
    font-size: 1.1rem;
    /* font-weight: bold; */
}

.midDunk {
    font-size: 2.5rem;
}

li {
    /* display: inline; */
    /* padding: 15px 4%; */
    margin: 15px 4%;
    text-align: center;
    align-self: center;
    border-bottom: 3px solid transparent;
}

li:hover{
    color: var(--darkpink);
    /* text-decoration: underline; */
    border-bottom: 3px solid #dc87a2;
}

.main-screen {
    position: relative;
    display: flex;
    /* background-image: url("/images/Manage_Profile_Header_Desktop.png"); */
    /* width: 100%; */
    background-repeat: no-repeat;
    background-size: 100%;
    /* height: auto; */
    min-width: 640px;
    text-align: center;
    text-transform: uppercase;
    /* justify-content: center; */
    flex-direction: column;
    /* font-weight: bolder; */
    /* font-size: 50px; */
    /* line-height: 28px;    */
}

.image {
    width: 100%;
    height: auto;
}

.title-content {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    /* font-weight: 800; */
}

.trademark {
    /* position: relative; */
    vertical-align: baseline;
    font-size: 5px;
}

.center-1 {
    color: var(--orange);
    font-size:  3.3vw;
}

.center-2 {
    color: var(--darkpink);
    margin-left: -0.5vw;
}

.center-3 {
    color: var(--brown);
    font-size: 4vw;
}

.large-select-grid {
    display: flex;
    margin-top: 50px;
    flex-direction: row;
    justify-content: center;
}

.grid-select {
    width: 301px;
    /* height: 313px; */
    /* background-color: #36c6a2; */
    margin: 0 20px;
}

.interactive-images {
    display: flex;
    height: 181px;
    /* padding: 5px; */
    justify-content: center;
    transition: transform 0.4s ease;
    /* background-color: aqua; */
}

div.interactive-images:hover {
    /* padding: 0px; */
    transform: scale(1.1);
}

.interactive-images-text {
    font-size: 24px;
    text-align: center;
    color: var(--brown);
    padding-bottom: 20px;
}

.interactive-images-text-bottom {
    color: var(--brown);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-family: "Ubuntu";
    line-height: 24px;
}

.learn-more {
    display: flex;
    margin: 15px 14px;
    justify-content: center;
    align-items: center;
    /* border-bottom: 1px solid rgb(211, 211, 211); */
}

.button-change {
    width: 170px;
    justify-content: center;
    font-size: 16px;
    padding: 13px;
    border-width: 1.6px;
    margin: 7px;
    line-height: 16px;
    /* text-align: center; */
}

.second-slide {
    display: inline-flex;
    padding: 10px 0;
    margin-top: 60px;
    flex-direction: row;
}